<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8" />
        @*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
        <meta name="viewport" content="width=device-width, initial-scale=1; user-scalable = no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="@(Url.Content("/Content/Site.css"))"/>
        <link rel="apple-touch-icon" href="/Content/icon.png">
        <link rel="icon" type="image/png" href="/Content/icon-sq-32.png" />
        <link rel="image_src" href="/Content/B6-2015.png" >
        <meta property="og:image" content="http://www.b6beerfest.com/Content/B6-2015.png" />
        <meta property="og:title" content="B6 2015 Beerfest" />
    </head>
    <body>
        <div class="container-fluid" style="margin-top:10px;">
            @RenderBody()
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="@(Url.Content("/Scripts/jquery.stickytabs.js"))"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
